extends ../layout

block content
  h1 welcome to merchant login
  div(ng-app="LoginModule")
    div(ng-controller="LoginController")
      form(ng-submit="existUser()")
        table
          tr
            td
              input(type="text", placeholder="Usuario", ng-model="user_name")
          tr
            td
              input(type="password", placeholder="********", ng-model="user_password")
          tr
            td
              input(type="submit")

  script(src="/javascripts/angular/angular.min.js")
  script(src="/javascripts/angular/modules/LoginModule.js")
