extends MainLayout

block content
    div(ng-app="MerchantModule")
        app-for-users-merchant(user-photo="")
            div(class="container" style="background-color:#fff;border:solid 1px rgba(0, 0, 0, .1);margin-top:23px;padding:50px;")
                h3 Merchant

                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
            br
            br
            br
            br
            br
            br
            br
            br
            br

    //script(type="text/javascript", src="/javascripts/angular/angular.min.js")
    //script(type="text/javascript", src="/javascripts/angular/modules/MerchantModule.js")
