doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/merchantstyle.css')
    link(rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css")
    script(type="text/javascript" src="/javascripts/angular/angular.min.js")
    script(type="text/javascript", src="/javascripts/angular/modules/MerchantModule.js")
  body
    block content
